<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <!-- Styles -->
  <link rel="stylesheet" href="../styles/style.css">
  <title>Iniciar sesión</title>
</head>

<body>
  <header class="header">
    <img class="header__img" src="../assets/logo-platzi-video-BW2.png" alt="Platzi Video">
    <div class="header__menu">
      <div class="header__menu--profile">
        <img src="../assets/user-icon.png" alt="User">
        <p>Perfil</p>
      </div>
      <ul>
        <li><a href="./login.html">Cuenta</a></li>
        <li><a href="../index.html">Salir</a></li>
      </ul>
    </div>
  </header>
  <section class="login">
      <section class="login__container"> 
          <h2>Inicia sesion</h2>
          <form class="login__container--form">
            <input class="input" type="text" placeholder="Correo">
            <input class="input" type="password" placeholder="Contraseña">
            <button class="button">Iniciar sesión</button>
            <div class="login__container--remember-me">
                <label>
                    <input type="checkbox" name="" id="cbox1" value="checkbox">Recuerdame
                </label>
                <a href="./page404.html">olvide mi contraseña</a>
            </div>
          </form>
          <section class="login__container--social-media">
            <div>
                <img src="https://static.platzi.com/media/tmp/class-files/git/curso-frontend-escuelajs/curso-frontend-escuelajs-maquetacion-login-HTML/maquetacion-login-HTML/assets/google-icon.png" alt="google icon">Sign In with Google
            </div>
            <div>
                <img src="https://static.platzi.com/media/tmp/class-files/git/curso-frontend-escuelajs/curso-frontend-escuelajs-maquetacion-login-HTML/maquetacion-login-HTML/assets/twitter-icon.png" alt="icon twitter">Sign In with twitter
            </div>
          </section>
          <p class="login__container--register">No tienes una cuenta <a href="./register.html">Registrate</a></p>
      </section>
</section>
<footer class="footer">
    <a href="./page404.html">Terminos de uso</a>
    <a href="./page404.html">Declaracion de privacidad</a>
    <a href="./page404.html">centro de ayuda</a>
</footer>
</body>
</html>