<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <!-- Styles -->
  <link rel="stylesheet" href="../styles/style.css">
  <title>Registrate</title>
</head>

<body>
  <header class="header">
    <img class="header__img" src="../assets/logo-platzi-video-BW2.png" alt="Platzi Video">
    <div class="header__menu">
      <div class="header__menu--profile">
        <img src="../assets/user-icon.png" alt="User">
        <p>Perfil</p>
      </div>
      <ul>
        <li><a href="./login.html">Cuenta</a></li>
        <li><a href="../index.html">Salir</a></li>
      </ul>
    </div>
  </header>
  <section class="register">
      <section class="register__container"> 
          <h2>Regístrate</h2>
          <form class="register__container--form">
            <input class="input" type="text" placeholder="Nombre">
            <input class="input" type="text" placeholder="Correo">
            <input class="input" type="password" placeholder="Contraseña">
            <button class="button">Registrarme</button> 
          </form>
          <p class="register__container--login"> <a href="./login.html">Inicia sesión</a></p>
      </section>
</section>
<footer class="footer">
    <a href="./page404.html">Terminos de uso</a>
    <a href="./page404.html">Declaracion de privacidad</a>
    <a href="./page404.html">centro de ayuda</a>
</footer>
</body>
</html>